/* .new-product h3 {
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 1.32px;
    color: rgba(205, 213, 221, 1);
    text-align: center;
    margin-bottom: 135px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 94.5vw;
}

.card {
    background-image: url(/shared/img/fon-river.png);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 437px;
    height: 437px;
    color: white;
    border-radius: 10px;
}

.card img {
    position: relative;
    align-self: center;
    top: -120px;

}

.card-content {
    background-image: linear-gradient(to top, rgba(245, 190, 79, 0.95), rgba(245, 190, 79, 0));
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
}

.title-card {
    font-size: 44px;
    font-weight: 500;
    line-height: 1.2;
    white-space: nowrap;
}

.subtitle {
    font-size: 16px;
    font-weight: 400;
}

.buy-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-buy {
    width: 120px;
    height: 44px;
    border-radius: 100px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-color: white;
    border-width: 1px;
    padding-inline: 16px;

    color: white;
    font-size: 14px;
    letter-spacing: 1.26px;
    font-weight: 500;
}

.button-buy::before {
    content: '';
    background-image: url(/shared/svg/arrow-wihte.svg);
    display: block;
    justify-items: start;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
} */