.content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 200px 180px;
    position: relative;
}


.eleps {
    position: absolute;
    width: 1775px;
    height: 835px;
    border-radius: 100%;
    background-color: white;
    bottom: -100px;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

.information {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
}

.information h2 {
    font-size: 44px;
    font-weight: 800;
    letter-spacing: 1.32px;
    color: rgba(205, 213, 221, 1);
}

.information p {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-blue);
}

.button-information{
    width: 240px;
    height: 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    border-radius: 100px;
    background-color: transparent;
    border-width: 2px;
    color: var(--color-blue);
}

.button-information::after {
    content: '';
    background-image: url(./svg/arrow_blek.svg);
    display: block;
    justify-items: start;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}