@font-face {
    font-family: 'GTWalsheimPro';
    src: url(../fonts/GTWalsheimPro-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url(../fonts/GTWalsheimPro-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url(../fonts/GTWalsheimPro-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheimPro';
    src: url(../fonts/GTWalsheimPro-UltraBold.woff2) format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
    padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
    margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl):where([class]) {
    margin-block: 0;
}

:where(dd[class]) {
    margin-left: 0;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
    list-style: none;
}

/**
  Упрощаем работу с изображениями
 */
img {
    display: block;
    max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
    font: inherit;
}

html {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    height: 100%;
    /**
    Плавный скролл
   */
    scroll-behavior: smooth;
}

body {
    /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
    min-height: 100%;
    /**
    Унифицированный интерлиньяж
   */
    line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


:root {
    --color-dark-grey: rgba(205, 213, 221, 1);
    --color-light-grey: rgba(255, 255, 255, 0.5);
    --color-light: rgba(255, 255, 255, 1);
    --color-blue: rgba(12, 18, 42, 1);

    --border-radius: 62px;

    --transition-duration: 0, 2c;

}

body {
    background-color: var(--color-dark-grey);
    color: var(--color-blue);
    font-family: 'GTWalsheimPro', sans-serif;
    width: 1440px;
    margin-inline: auto;
    /* padding-inline-start: 40px; */
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    text-transform: uppercase;
}

a,
button,
textarea,
svg * {
    transition-duration: 0.3s;
}

a {
    color: var(--color-blue);
}

a:hover {
    color: var(--color-light);
}

.header {
    width: 1440px;
    height: 851px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header-box {
    width: 1360px;
    background-color: var(--color-light-grey);
    border-radius: 62px;
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 40px;

    display: flex;
    /* по центру по игрику  */
    justify-content: space-between;
    /* по центру по  */
    align-items: center;
    max-height: 850px;
    /* не слипались */
    column-gap: 20px;
}

.header-box-menu-list {
    display: flex;
    column-gap: 30px;
}

.header-box-menu-link {
    display: inline-flex;
    height: 80px;
    align-items: center;
    /* убрать подчеркивания  */
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.2px;

}

.header-box-logo {
    margin-right: 175px;
}

.header-shop-button {
    background-color: transparent;
    height: 24px;
    width: 24px;
    border: none;
    padding-right: 20px;
}

.header-profil-button {
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: none;
}

.title-h1 {
    height: 164px;
    width: 985px;
    line-height: 1.5;
    font-weight: 800;
    font-size: 62px;
    margin-top: 118px;
    text-align: center;
    color: var(--color-light);

}

.bushome-img {
    transform: rotate(12deg);
    height: 670px;
    margin-top: -15px;
}

.header-catalog {
    margin-top: -70px;
    margin-left: auto;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 300px;
    height: 120px;
}

.header-catalog p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0%;
    line-height: 18px;

}

.header-catalog-button {
    display: inline-flex;
    align-items: center;
    width: 228px;
    height: 60px;
    border-radius: 100px;
    background-color: var(--color-blue);
    color: var(--color-light);
    padding-block: 22px;
    padding-inline: 40px;
    margin-top: 0px;
}

/* 
.button{
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding-inline: 40px;
} */

/* .content{
    position: sticky;
    height: 600px;
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: -1;

} */

.content-info {
    position: sticky;
    height: 600px;
    background-color: var(--color-light);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    z-index: -1;
}

.eleps {
    flex-shrink: 0;
    /* width: 1773px; */
    height: 835px;
    border-radius: 50%;
    background-color: var(--color-light);
    position: absolute;
    bottom: 60px;
    z-index: -1;
}

.information {
    width: 533px;
    height: 212px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.information-h3 {
    font-size: 44px;
    font-weight: 800;
    color: var(--color-dark-grey);
}

.information-p {
    text-align: center;
    letter-spacing: 0%;
    line-height: 18px;
}

.information-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 240px;
    height: 60px;
    border-radius: 100px;
    background-color: transparent;
    color: var(--color-blue);
    padding-block: 22px;
    padding-inline: 40px;
}

.information-button::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z' fill='%230C122A'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    /* Чтобы стрелка умещалась в заданные width/height */
}


/* .card {
    background-image: url(./img/fon-river.png);

    background-repeat: no-repeat;
} */

.card {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    color: #fff;
    width: 350px;
    height: 250px;
}

.card-bg {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
    url("./img/fon-river.png");
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.card-content {
    position: relative;
    z-index: 2;
}