header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 94.5vw;

    background-color: var(--color-dark-grey);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94.5vw;
    position: fixed;
    padding-inline: 2.8vw;
    background-color: var(--color-light-grey);
    align-items: center;
    border-radius: 62px;
    z-index: 10;

}

.navigation {
    color: rgba(12, 18, 42, 1);
    display: flex;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.26px;
    width: 20%;
    white-space: nowrap;
    gap: 32px;
}

.extion {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: flex-end;
    gap: 24px;
}

#shop {
    width: 24px;
    height: 24px;
    padding-inline: 3px;
    padding-block: 2px;
    position: relative;
}

#shop::before {
    display: block;
    position: absolute;
    border-radius: 100px;
    left: 10px;
    bottom: 9px;
    content: '';
    width: 17px;
    height: 17px;
    background-color: rgba(182, 45, 17, 1);
    z-index: 1;
}

#profil {
    width: 24px;
    height: 24px;
}

#menu {
    width: 24px;
    height: 24px;
    visibility: hidden;
    display: none;
}

h1 {
    margin-top: 17vh;
    font-size: 61px;
    font-weight: 800;
    letter-spacing: 1.83px;
    line-height: normal;
    color: white;
    text-align: center;
}

.br {
    margin-top: 24px;
}

.bas-img {
    align-self: center;
    transform: rotate(12deg);
    margin-bottom: 30px;
    z-index: 2;

}

@media (min-width: 375px) and (max-width: 920px) {
    .navigation {
        display: none;
        opacity: 0;
        padding-inline: 2.8vw;
    }

    .logo-img {
        width: 30vw;
        height: auto;
        max-width: 277px;
    }

    .extion {
        padding-block: 20px;
        width: auto;
    }

    #menu {
        visibility: visible;
        display:block
    }

    h1 {
        font-size: 41px;
        margin-top: 28vh;
    }

    .bas-img {
        align-self: center;
        max-width: 100%;
        transform: rotate(12deg);
        margin-bottom: 30px;
        z-index: 2;
    }
}

.info-blok {
    margin-top: -16px;
    align-self: flex-end;
    margin-right: 3vw;
    z-index: 2;
}

.info-blok p {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    line-height: 1.125;
    margin-bottom: 23px;
}

.catalog-button {
    width: 228px;
    height: 60px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 62px;
    background-color: rgba(12, 18, 42, 1);
    color: white;
    padding-inline: 40px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.26px;
}

.catalog-button::before {
    content: '';
    background-image: url(/shared/svg/arrow-wihte.svg);
    display: block;
    justify-items: start;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}